[Unit]
Description=MagicReader
Wants=network-online.target
Wants=systemd-udev-settle.service
After=network-online.target systemd-udev-settle.service sound.target

[Service]
Type=simple
User=pi
SupplementaryGroups=spi gpio audio
# Allow the pi user to bind the web server to port 80.
AmbientCapabilities=CAP_NET_BIND_SERVICE
WorkingDirectory=/home/pi/magicreader
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/pi/magicreader/.venv/bin/python /home/pi/magicreader/magicreader/__main__.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
