[Unit]
Description=Restart MagicReader
After=MagicReader.service

[Service]
Type=oneshot
RemainAfterExit=false
ExecStart=/usr/bin/systemctl restart MagicReader.service

[Install]
# Started on demand by the web UI.
