[Unit]
Description=Reboot MagicReader Pi
After=MagicReader.service

[Service]
Type=oneshot
RemainAfterExit=false
ExecStartPre=/usr/bin/systemctl stop MagicReader.service
ExecStart=/usr/bin/systemctl reboot

[Install]
# Started on demand by the web UI.
