body {
    margin: 5px;
}

.header {
    margin-bottom: 15px;
}

.title {
    font-size: 3rem;
    color: blue;
}

.subtitle {
    font-size: 1rem;
    font-style: italic;
}

.status-parent {
    background-color: gray;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.status-title {
    font-weight: bold;
    margin-right: 5px;
}

.status-message {
    font-weight: normal;
}

.status-readAllowed {
    margin-top: -5px;
    width: 100%;
    font-style: italic;
}

.controls {
    background-color: gray;
    padding: 10px;
}

.sequences {
    margin-top: 5px;
    padding-bottom: -5px;
}

.sequence-button {
    margin-right: 5px;
    margin-bottom: 5px;
}




/* MODAL STYLES */

.controlModal {
    width: 514px;
}

.modal-tinkerbell {
    width: 512px;
    height: 786px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.modal-magicWand {
    background-image: url('/static/images/Tinkerbell-MagicWand-sm.jpg');
}

.modal-reboot {
    background-image: url('/static/images/Tinkerbell-Reboot-sm.jpg');
}

.modal-shutdown {
    background-image: url('/static/images/Tinkerbell-Shutdown-sm.jpg');
}

.modal-background-shutdown {
    background-color: #1c1b1b;
}
